@media (min-width: 601px) and (max-width: 800px) {
  /* line 14, ../sass/style.sass */
  #at {
    background-color: black;
    color: white; } }

@media (min-width: 601px) {
  /* line 18, ../sass/style.sass */
  #from {
    background-color: black;
    color: white; } }

@media (max-width: 600px) {
  /* line 22, ../sass/style.sass */
  #to {
    background-color: black;
    color: white; } }

@media (min-width: 401px) and (max-width: 1010px) {
  /* line 26, ../sass/style.sass */
  #between {
    background-color: black;
    color: white; } }

/* line 52, ../sass/style.sass */
#singularity1 .column span:after {
  content: "This column is not spanned."; }
@media (min-width: 401px) and (max-width: 600px) {
  /* line 49, ../sass/style.sass */
  #singularity1 .column {
    width: 45.45455%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
  /* line 68, ../sass/style.sass */
  #singularity1 .column span:after {
    content: "+at(2)\A  +grid-span(1, 1)"; } }
@media (min-width: 601px) and (max-width: 800px) {
  /* line 49, ../sass/style.sass */
  #singularity1 .column {
    width: 29.41176%;
    float: left;
    margin-right: -100%;
    margin-left: 35.29412%;
    clear: none; }
  /* line 68, ../sass/style.sass */
  #singularity1 .column span:after {
    content: "+at(3)\A  +grid-span(1, 2)"; } }
@media (min-width: 801px) and (max-width: 1010px) {
  /* line 49, ../sass/style.sass */
  #singularity1 .column {
    width: 21.73913%;
    float: left;
    margin-right: -100%;
    margin-left: 52.17391%;
    clear: none; }
  /* line 68, ../sass/style.sass */
  #singularity1 .column span:after {
    content: "+at(4)\A  +grid-span(1, 3)"; } }
@media (min-width: 1011px) {
  /* line 49, ../sass/style.sass */
  #singularity1 .column {
    width: 17.24138%;
    float: left;
    margin-right: -100%;
    margin-left: 62.06897%;
    clear: none; }
  /* line 68, ../sass/style.sass */
  #singularity1 .column span:after {
    content: "+at(5)\A  +grid-span(1, 4)"; } }

/* line 72, ../sass/style.sass */
.singularity {
  background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 100%);
  background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 100%);
  *zoom: 1;
  margin-bottom: 1em; }
@media (min-width: 400px) {
  /* line 72, ../sass/style.sass */
  .singularity {
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 45.45455%, rgba(210, 105, 30, 0.25) 45.45455%, rgba(210, 105, 30, 0.25) 54.54545%, rgba(210, 105, 30, 0.5) 54.54545%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 45.45455%, rgba(210, 105, 30, 0.25) 45.45455%, rgba(210, 105, 30, 0.25) 54.54545%, rgba(210, 105, 30, 0.5) 54.54545%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 45.45455%, rgba(210, 105, 30, 0.25) 45.45455%, rgba(210, 105, 30, 0.25) 54.54545%, rgba(210, 105, 30, 0.5) 54.54545%, rgba(210, 105, 30, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 45.45455%, rgba(210, 105, 30, 0.25) 45.45455%, rgba(210, 105, 30, 0.25) 54.54545%, rgba(210, 105, 30, 0.5) 54.54545%, rgba(210, 105, 30, 0.5) 100%); } }
@media (min-width: 600px) {
  /* line 72, ../sass/style.sass */
  .singularity {
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 29.41176%, rgba(210, 105, 30, 0.25) 29.41176%, rgba(210, 105, 30, 0.25) 35.29412%, rgba(210, 105, 30, 0.5) 35.29412%, rgba(210, 105, 30, 0.5) 64.70588%, rgba(210, 105, 30, 0.25) 64.70588%, rgba(210, 105, 30, 0.25) 70.58824%, rgba(210, 105, 30, 0.5) 70.58824%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 29.41176%, rgba(210, 105, 30, 0.25) 29.41176%, rgba(210, 105, 30, 0.25) 35.29412%, rgba(210, 105, 30, 0.5) 35.29412%, rgba(210, 105, 30, 0.5) 64.70588%, rgba(210, 105, 30, 0.25) 64.70588%, rgba(210, 105, 30, 0.25) 70.58824%, rgba(210, 105, 30, 0.5) 70.58824%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 29.41176%, rgba(210, 105, 30, 0.25) 29.41176%, rgba(210, 105, 30, 0.25) 35.29412%, rgba(210, 105, 30, 0.5) 35.29412%, rgba(210, 105, 30, 0.5) 64.70588%, rgba(210, 105, 30, 0.25) 64.70588%, rgba(210, 105, 30, 0.25) 70.58824%, rgba(210, 105, 30, 0.5) 70.58824%, rgba(210, 105, 30, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 29.41176%, rgba(210, 105, 30, 0.25) 29.41176%, rgba(210, 105, 30, 0.25) 35.29412%, rgba(210, 105, 30, 0.5) 35.29412%, rgba(210, 105, 30, 0.5) 64.70588%, rgba(210, 105, 30, 0.25) 64.70588%, rgba(210, 105, 30, 0.25) 70.58824%, rgba(210, 105, 30, 0.5) 70.58824%, rgba(210, 105, 30, 0.5) 100%); } }
@media (min-width: 800px) {
  /* line 72, ../sass/style.sass */
  .singularity {
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 21.73913%, rgba(210, 105, 30, 0.25) 21.73913%, rgba(210, 105, 30, 0.25) 26.08696%, rgba(210, 105, 30, 0.5) 26.08696%, rgba(210, 105, 30, 0.5) 47.82609%, rgba(210, 105, 30, 0.25) 47.82609%, rgba(210, 105, 30, 0.25) 52.17391%, rgba(210, 105, 30, 0.5) 52.17391%, rgba(210, 105, 30, 0.5) 73.91304%, rgba(210, 105, 30, 0.25) 73.91304%, rgba(210, 105, 30, 0.25) 78.26087%, rgba(210, 105, 30, 0.5) 78.26087%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 21.73913%, rgba(210, 105, 30, 0.25) 21.73913%, rgba(210, 105, 30, 0.25) 26.08696%, rgba(210, 105, 30, 0.5) 26.08696%, rgba(210, 105, 30, 0.5) 47.82609%, rgba(210, 105, 30, 0.25) 47.82609%, rgba(210, 105, 30, 0.25) 52.17391%, rgba(210, 105, 30, 0.5) 52.17391%, rgba(210, 105, 30, 0.5) 73.91304%, rgba(210, 105, 30, 0.25) 73.91304%, rgba(210, 105, 30, 0.25) 78.26087%, rgba(210, 105, 30, 0.5) 78.26087%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 21.73913%, rgba(210, 105, 30, 0.25) 21.73913%, rgba(210, 105, 30, 0.25) 26.08696%, rgba(210, 105, 30, 0.5) 26.08696%, rgba(210, 105, 30, 0.5) 47.82609%, rgba(210, 105, 30, 0.25) 47.82609%, rgba(210, 105, 30, 0.25) 52.17391%, rgba(210, 105, 30, 0.5) 52.17391%, rgba(210, 105, 30, 0.5) 73.91304%, rgba(210, 105, 30, 0.25) 73.91304%, rgba(210, 105, 30, 0.25) 78.26087%, rgba(210, 105, 30, 0.5) 78.26087%, rgba(210, 105, 30, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 21.73913%, rgba(210, 105, 30, 0.25) 21.73913%, rgba(210, 105, 30, 0.25) 26.08696%, rgba(210, 105, 30, 0.5) 26.08696%, rgba(210, 105, 30, 0.5) 47.82609%, rgba(210, 105, 30, 0.25) 47.82609%, rgba(210, 105, 30, 0.25) 52.17391%, rgba(210, 105, 30, 0.5) 52.17391%, rgba(210, 105, 30, 0.5) 73.91304%, rgba(210, 105, 30, 0.25) 73.91304%, rgba(210, 105, 30, 0.25) 78.26087%, rgba(210, 105, 30, 0.5) 78.26087%, rgba(210, 105, 30, 0.5) 100%); } }
@media (min-width: 1010px) {
  /* line 72, ../sass/style.sass */
  .singularity {
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 17.24138%, rgba(210, 105, 30, 0.25) 17.24138%, rgba(210, 105, 30, 0.25) 20.68966%, rgba(210, 105, 30, 0.5) 20.68966%, rgba(210, 105, 30, 0.5) 37.93103%, rgba(210, 105, 30, 0.25) 37.93103%, rgba(210, 105, 30, 0.25) 41.37931%, rgba(210, 105, 30, 0.5) 41.37931%, rgba(210, 105, 30, 0.5) 58.62069%, rgba(210, 105, 30, 0.25) 58.62069%, rgba(210, 105, 30, 0.25) 62.06897%, rgba(210, 105, 30, 0.5) 62.06897%, rgba(210, 105, 30, 0.5) 79.31034%, rgba(210, 105, 30, 0.25) 79.31034%, rgba(210, 105, 30, 0.25) 82.75862%, rgba(210, 105, 30, 0.5) 82.75862%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 17.24138%, rgba(210, 105, 30, 0.25) 17.24138%, rgba(210, 105, 30, 0.25) 20.68966%, rgba(210, 105, 30, 0.5) 20.68966%, rgba(210, 105, 30, 0.5) 37.93103%, rgba(210, 105, 30, 0.25) 37.93103%, rgba(210, 105, 30, 0.25) 41.37931%, rgba(210, 105, 30, 0.5) 41.37931%, rgba(210, 105, 30, 0.5) 58.62069%, rgba(210, 105, 30, 0.25) 58.62069%, rgba(210, 105, 30, 0.25) 62.06897%, rgba(210, 105, 30, 0.5) 62.06897%, rgba(210, 105, 30, 0.5) 79.31034%, rgba(210, 105, 30, 0.25) 79.31034%, rgba(210, 105, 30, 0.25) 82.75862%, rgba(210, 105, 30, 0.5) 82.75862%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 17.24138%, rgba(210, 105, 30, 0.25) 17.24138%, rgba(210, 105, 30, 0.25) 20.68966%, rgba(210, 105, 30, 0.5) 20.68966%, rgba(210, 105, 30, 0.5) 37.93103%, rgba(210, 105, 30, 0.25) 37.93103%, rgba(210, 105, 30, 0.25) 41.37931%, rgba(210, 105, 30, 0.5) 41.37931%, rgba(210, 105, 30, 0.5) 58.62069%, rgba(210, 105, 30, 0.25) 58.62069%, rgba(210, 105, 30, 0.25) 62.06897%, rgba(210, 105, 30, 0.5) 62.06897%, rgba(210, 105, 30, 0.5) 79.31034%, rgba(210, 105, 30, 0.25) 79.31034%, rgba(210, 105, 30, 0.25) 82.75862%, rgba(210, 105, 30, 0.5) 82.75862%, rgba(210, 105, 30, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 17.24138%, rgba(210, 105, 30, 0.25) 17.24138%, rgba(210, 105, 30, 0.25) 20.68966%, rgba(210, 105, 30, 0.5) 20.68966%, rgba(210, 105, 30, 0.5) 37.93103%, rgba(210, 105, 30, 0.25) 37.93103%, rgba(210, 105, 30, 0.25) 41.37931%, rgba(210, 105, 30, 0.5) 41.37931%, rgba(210, 105, 30, 0.5) 58.62069%, rgba(210, 105, 30, 0.25) 58.62069%, rgba(210, 105, 30, 0.25) 62.06897%, rgba(210, 105, 30, 0.5) 62.06897%, rgba(210, 105, 30, 0.5) 79.31034%, rgba(210, 105, 30, 0.25) 79.31034%, rgba(210, 105, 30, 0.25) 82.75862%, rgba(210, 105, 30, 0.5) 82.75862%, rgba(210, 105, 30, 0.5) 100%); } }
/* line 38, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.singularity:after {
  content: "";
  display: table;
  clear: both; }

/* line 82, ../sass/style.sass */
#singularity2 .column {
  margin-bottom: 1em; }
@media (min-width: 401px) and (max-width: 600px) {
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(2n+1) {
    width: 45.45455%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 9.09091%; }
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(2n+2) {
    width: 45.45455%;
    clear: right;
    float: right;
    margin-right: 0%; } }
@media (min-width: 601px) and (max-width: 800px) {
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(3n+1) {
    width: 29.41176%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 5.88235%; }
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(3n+2) {
    width: 29.41176%;
    clear: right;
    float: left;
    margin-right: 5.88235%; }
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(3n+3) {
    width: 29.41176%;
    clear: right;
    float: right;
    margin-right: 0%; } }
@media (min-width: 801px) and (max-width: 1010px) {
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(4n+1) {
    width: 21.73913%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 4.34783%; }
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(4n+2) {
    width: 21.73913%;
    clear: right;
    float: left;
    margin-right: 4.34783%; }
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(4n+3) {
    width: 21.73913%;
    clear: right;
    float: left;
    margin-right: 4.34783%; }
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(4n+4) {
    width: 21.73913%;
    clear: right;
    float: right;
    margin-right: 0%; } }
@media (min-width: 1011px) {
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(5n+1) {
    width: 17.24138%;
    clear: right;
    float: left;
    margin-left: 0%;
    margin-right: 3.44828%; }
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(5n+2) {
    width: 17.24138%;
    clear: right;
    float: left;
    margin-right: 3.44828%; }
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(5n+3) {
    width: 17.24138%;
    clear: right;
    float: left;
    margin-right: 3.44828%; }
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(5n+4) {
    width: 17.24138%;
    clear: right;
    float: left;
    margin-right: 3.44828%; }
  /* line 95, ../sass/style.sass */
  #singularity2 .column:nth-child(5n+5) {
    width: 17.24138%;
    clear: right;
    float: right;
    margin-right: 0%; } }

/* line 103, ../sass/style.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 106, ../sass/style.sass */
p {
  margin-bottom: 1em; }

/* line 109, ../sass/style.sass */
h2 {
  margin-top: 2em; }

/* line 113, ../sass/style.sass */
.demo p, .demo .column {
  font-family: monospace;
  border: 1px solid black;
  background-color: lightgrey;
  padding: 1em;
  border-radius: 1em; }
/* line 120, ../sass/style.sass */
.demo p {
  max-width: 25em; }

/* line 129, ../sass/style.sass */
#info-1:after {
  content: "$slicer-breakpoints: 0 400px 600px 800px 1010px"; }

@media (max-width: 400px) {
  /* line 133, ../sass/style.sass */
  #info-2:after {
    content: "This window currently fits 1 slices."; } }
@media (min-width: 401px) and (max-width: 600px) {
  /* line 133, ../sass/style.sass */
  #info-2:after {
    content: "This window currently fits 2 slices."; } }
@media (min-width: 601px) and (max-width: 800px) {
  /* line 133, ../sass/style.sass */
  #info-2:after {
    content: "This window currently fits 3 slices."; } }
@media (min-width: 801px) and (max-width: 1010px) {
  /* line 133, ../sass/style.sass */
  #info-2:after {
    content: "This window currently fits 4 slices."; } }
@media (min-width: 1011px) {
  /* line 133, ../sass/style.sass */
  #info-2:after {
    content: "This window currently fits 5 slices."; } }
