// Dependencies
@import compass
@import breakpoint-slicer

/////////////////////////////////////////
// Testing the mixins
/////////////////////////////////////////

// A mixin to turn elements black.
=black
  background-color: black
  color: white

#at
  +at(3)
    +black

#from
  +from(3)
    +black

#to
  +to(3)
    +black

#between
  +between(2,4)
    +black


/////////////////////////////////////////
// Breakpoint Slicer with Singularity
/////////////////////////////////////////

// Importing Singularity.
@import singularitygs

// Configuring Singularity.
$grids: 1
$gutters: 0.2

// Adding responsive grids.
// Cycling through slices.
@for $i from 2 through total-slices()
  // Setting the number of columns in each slice equal to the number of that slice.
  $grids: add-grid($i at bp($i))

// Spanning the column
#singularity .column

  // This text will appear when no media queries are applied.
  span:after
    content: "This column is not spanned."

  // Cycling through slices.
  @for $i from 2 through total-slices()

    // Setting a media query per slice.
    +at($i)

      // Setting the position to be the last-but-one column.
      $position: $i - 1

      // Spanning.
      +grid-span(1, $position)

      // Showing the text.
      span:after
        content: "+at(#{$i})\A  +grid-span(1, #{$position})"

// Enabling the grid background.
#singularity
  +background-grid
  +pie-clearfix


/////////////////////////////////////////
// Styling
/////////////////////////////////////////

*
  +box-sizing(border-box)

p
  margin-bottom: 1em

h2
  margin-top: 2em

.demo
  p, .column
    font-family: monospace
    border: 1px solid black
    background-color: lightgrey
    padding: 1em

  p
    max-width: 25em


/////////////////////////////////////////
// Showing the info
/////////////////////////////////////////

// Showing the breakpoints.
#info-1:after
  content: "$slicer-breakpoints: #{$slicer-breakpoints}"

// Showing the number of slices.
#info-2:after
  // Cycling through slices.
  @for $i from 1 through total-slices()
    // Setting a media query.
    +at($i)
      content: "This window currently fits #{$i} slices."